

body{
    margin: 100px;
}

.box{
    width: 300px;
    height: 300px;
    background-color: black;

    animation-name: minhaAnimacao;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-delay: 500ms;
    animation-timing-function: ease-in;
    animation-direction: alternate;
}

@keyframes minhaAnimacao{
    0%{
        background-color: black;
    }
    33%{
        transform: rotate(360deg) translate(50px, 100px);
    }
    50%{
        border: 20px solid green;
    }

    100%{
        border: 0px solid green;
        background-color: red;
        
    }
}

