body{
    background: #e9e8e8;
}

.foto{
    width: 200px;
    border: 5px solid  #ffffff; /*estilo mais usado "shorthand"*/
    border-radius: 100% 500% 100% 50%;
    /*margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 100px;*/
    margin: 30px 30px 30px 30px; /*shorthand tambem*/
    

}

p{
    color: #2c2b2b;
}
