

h1{
    text-shadow: 2px 2px 20px red;

}

p{
    color: green;
    text-align: justify;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    text-transform: lowercase;
    text-indent: 50px;
}

a {
    text-decoration: line-through;
    letter-spacing: 20px;
}